<h1>Blackjack!</h1>
<p>
<div>
Player Points:
									 {{#playerHand}}
									 {{cardValues}}
									 {{/playerHand}}
</div>
<div>
Dealer Points:						 
				{{#dealerHand}}
				{{cardValues}}
				{{/dealerHand}}
</div>
</p>
<div class="dealer cards">
		<b>Player Cards: </b>
								{{#playerCards}}
						<div>{{name}}</div>
								 {{/playerCards}}
		</div>
<div class="dealer cards">
		<b>Dealer Cards: </b>
								{{#dealerCards}}
						<div>{{name}}</div>
								 {{/dealerCards}}
		</div>
<form method="post" action="reset">
<button>Continue</button>
</form>