<!DOCTYPE html>
<html>
	<head>
		<title>Blackjack</title>
		
		<script>
			* {
				display: block;
			}
		</script>
		
	</head>
	<body>
		<div class="dealer cards">
		Dealer Cards:{{#dealerCards}}
									<div>{{name}}</div>
									{{/dealerCards}}
		</div>
		<br>
		<div class="player cards">
		Player Cards: {{#playerCards}}
									<div>{{name}}</div>
									{{/playerCards}}
		</div>
		<br>
		<div class="player money">
		Player Money:
		</div>
		<br>
		<form action="/hit">
			<button>Hit</button>
		</form>
		<form action="stand">
			<button>Stand</button>
		</form>
	</body>
</html>