<!DOCTYPE html>
<html>
	<head>
		<title>Blackjack</title>	
	</head>
	<body>
		<h1>Tie</h1>
		<br>
		<div>
			<b>
				Player Points:
				{{#playerHand}}
				{{handValue}}
				{{/playerHand}}
			</b>
		</div>
		<br>
		
		<div>
			<b>
				Dealer Points:						 
				{{#dealerHand}}
				{{handValue}}
				{{/dealerHand}}
			</b>
		</div>
		<br>
	
		<div>
			<b>Player Cards: </b>
				{{#playerCards}}
				<div>{{name}}</div>
				{{/playerCards}}
		</div>
		<br>
				
		<div>
			<b>Dealer Cards: </b>
				{{#dealerCards}}
				<div>{{name}}</div>
				{{/dealerCards}}
		</div>
		<br>
		
		<form method="post" action="reset">
		<button>Continue</button>
		</form>
	</body>
</html>
		
		